.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 12px;
}

@media (max-width: 760px) {
  .top {
    flex-direction: column;
  }
}
